body {
  color: #444;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

svg {
  display: block;
  margin: auto;
}

.worldMap {
  stroke: #fff;
  stroke-width: .1;
}

.tooltip {
  background-color: #444;
  color: #eee;
}
