@import url('https://fonts.googleapis.com/css?family=Lato');

$mapWaterColor: #77a9b8;
$mapLandColor: #096f43;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: 'Lato', sans-serif;
}

h1 {
  text-align: center;
}

svg {
  background-color: $mapWaterColor;
  display: block;
  margin: auto;
}

.worldMap {
  fill: $mapLandColor;
  stroke: #fff;
  stroke-width: .1;
}

.tooltip {
  background-color: #444;
  border-radius: 2px;
  color: #eee;
  padding: .1em 1em;

  h2 {
    font-size: (4em/3);
  }

  dl {
    display: flex;
    flex-flow: row wrap;
    width: 200px;
  }

  dt,
  dd {
    flex: 0 0 50%;
  }

  dt {
    font-weight: bold;

    &::after {
      content: ':';
    }
  }

  dd {
    margin-left: auto;
  }
}
